.single-form-table {
	min-width: 1200px;
	width: 100%;
	margin: auto;
	overflow: hidden;
	tr {
		td:first-child,th:first-child, 
		td:nth-child(2),th:nth-child(2), 
		td:last-child,th:last-child {
			text-align: center;
		}
		td:nth-child(3), th:nth-child(3) {
			display: none;
		}
		td:nth-child(2),th:nth-child(2) {
			width: 50px;
		}
		td:last-child,th:last-child {
			width: 160px;
		}
		&:hover {
			td {
				background-color: lighten(#000, 90%) !important;
			}
		}
	}
	.check {
		width: 15px;
		input[type="checkbox"] {
			width: 16px;
	    height: 16px;
	    cursor: pointer;
		}
	}
}

.single-form {
	header {
		position: relative;
		display: flex;
		align-items: center;
		h1 {
			max-width: 70%;
		}
		h1, button {
			line-height: 1;
		}
		button {
			margin: 3px 10px 0;
		}
	}
	.edit {
		min-width: 56px;
		display: inline-block;
    button {
    	display: inline-block;
    	padding: 4px 8px;
    	line-height: 1;
    	vertical-align: middle;
    }
    span {
    	display: inline-block;
    	vertical-align: middle;
    	margin-top: -3px;
    }
	}
}